<p id="notice"><%= notice %></p>

<div class="card shadow p-4 mb-5 bg-white rounded">

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @student.grade %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @student.teacher %>
</p>

<p>
  <strong>User:</strong>
  <%= @student.user_id %>
</p>

</div>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
